<div id="roster">
	<h1>Players from <%= params[:id] %></h1>
	<table cellspacing='0'> 
		<thead>
			<tr>
				<th>Player Name</th>
				<th>Position</th>
				<th>Home City</th>
				<th>Team</th>
			</tr>
		</thead>
		<tbody>
			<% @players.each do |p| %>
			<tr>
				<td><%= p.name %></td>
				<td><%= p.pos %></td>
				<td><%= p.city %></td>
				<td><%= p.team %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>