<p id="notice"><%= notice %></p>

<%= form_tag import_players_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Upload" %>
<% end %>
<br />

<% if @players == 0 %>
	Please upload CSV file
<% else %>
	Records imported: <%= @players %><br /><br />
	<%= link_to 'Reset All', kill_players_url, :method => :delete %>
<% end %>